page-searchforaddfriendmodal {
    ion-content { 
        position: absolute;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        width: 80%;
        height: 80%;
        background-color: #083B4D;
        overflow:hidden;
    }
   
}
